.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    mat-card {
        margin: 24px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        mat-card-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .mat-card-header-text {
                    flex-grow: 1;
                }
        }

        mat-card-content {
            flex-grow: 1;
            margin: 16px 16px;

            .input {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img {
                    max-width: 50%;
                }

                button {
                    margin-right: 12px;
                }
            }

            mat-form-field {
                width: 100%;
            }
        }

        mat-card-footer {
            margin: 0px 16px;
            mat-card-actions {
                display:flex;
                flex-direction: row;
                span{
                    flex-grow: 1.0;
                };
            }
        }

        
    }
}
