<div class="container">
  <mat-card class="calc">
    <mat-card-header>
      <mat-card-title>{{calc.title}}</mat-card-title>
      <mat-card-subtitle>{{calc.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h4>Inputs:</h4>
      <form [formGroup]="formGroup">
        <dynamic-material-form [group]="formGroup" [model]="formModel"></dynamic-material-form>
      </form>

      <h4>Calculations:</h4>
      <div [innerHTML]="calc.output"></div>

      <p>form data:</p>
      {{ formModel | json }}
    </mat-card-content>

  </mat-card>
</div>




<router-outlet></router-outlet>