<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">Seismic Loads</a>
      <a mat-list-item href="#">Wind Loads</a>
      <a mat-list-item href="#">Snow Loads</a>
      <a mat-list-item href="#">Nonstructural Seismic Loads</a>
      <a mat-list-item href="#">Load Combinations</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">Concrete Beam</a>
      <a mat-list-item href="#">Concrete Column</a>
      <a mat-list-item href="#">Concrete Wall</a>
      <a mat-list-item href="#">Confinement</a>
      <a mat-list-item href="#">Basement Retaining Wall</a>
      <a mat-list-item href="#">Diaphragm</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">Steel Section Properties</a>
      <a mat-list-item href="#">Steel Beam</a>
      <a mat-list-item href="#">Steel Column</a>
      <a mat-list-item href="#">Steel Canopy</a>
      <a mat-list-item href="#">Web Stiffener</a>
      <a mat-list-item href="#">Welded Connection</a>
      <a mat-list-item href="#">Bolted Connection</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">Wood Joist</a>
      <a mat-list-item href="#">Wood Post</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Structuroo</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

