.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    mat-card {
        margin: 24px;
        flex-grow: 1;

        mat-card-content {
            margin: 0 16px;
        }
        
    }

}
