<mat-card class="calc">
  <mat-card-header>
      <mat-card-title>{{calc.title}}</mat-card-title>
      <mat-card-subtitle>{{calc.subtitle}}</mat-card-subtitle>
      <div class="header-right">
        <mat-card-subtitle *ngIf="header.company as val">{{val}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="header.project as val">Project: {{val}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="header.designer as val">Designer: {{val}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="header.date as val">Date: {{val | date}}</mat-card-subtitle>
      </div>
  </mat-card-header>

  <mat-card-content>
    <h4>Inputs:</h4>
    <div class="input">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        <button mat-stroked-button type="submit">Submit</button>
        <button mat-stroked-button (click)="clearForm()">Clear</button>
      </form>
      <!-- <img [src]="calc.image"> -->
    </div>


    <h4>Calculations:</h4>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20" [(ngModel)]="solution"></textarea>

    <mat-form-field>
      <mat-label>Additional Notes:</mat-label>
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20" [(ngModel)]="notes"></textarea>
      <button mat-button *ngIf="notes" matSuffix mat-icon-button aria-label="Clear" (click)="notes=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>

  <mat-card-footer>
    <mat-card-actions>
      <span></span>
      <button mat-button type="button" (click)="saveCalc()">Log in to save</button>
    </mat-card-actions>
  </mat-card-footer>

</mat-card>
